body {
    background-color: rgb(25 15 55);
    font-family: 'Roboto', sans-serif;
}

h1 {
    font-family: 'Roboto', sans-serif;
    color: #ffffff;
    margin-bottom: 3rem;
    font-weight: bold;
    font-size: 60px;
}

li {
    color: yellow;
}

#my-item {
    color:rgb(149, 58, 235);
}


.main {
    padding: 3rem;
}

.picker-container {
    margin-top: 1rem;
    margin-bottom: 2rem;
    border: 1px solid #53527c;
    border-radius: 5px;
}

/* .picker-container>div {
    margin-bottom: 1rem;
} */

.threshol-slider-container {
    margin-top: 1rem;
    margin-bottom: 2rem;
    border: 1px solid #53527c;
    border-radius: 5px;
}

/* .threshol-slider-container>div {
    margin-bottom: 1rem;
}  */

.set-val-btn, .get-val-btn  {
    border: none;
    background-color: #51ec28;
    border-radius: 4px;
    padding: 1rem 2rem 1rem 2rem;
    width: 15rem;
    margin-top: 2rem;
}

.get-val-btn {
    background-color: #6529ef;
    color: white;
    margin-top: 0rem;
}


.set-val-btn:hover, .get-val-btn:hover  {
    background-color: rgb(226, 226, 226);
    cursor: pointer;
    color: rgb(94, 90, 90);
}

.flex-container {
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    justify-content: space-between;
}

.sensor-val {
    width: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 3rem;
    background: #f5b5b5;
    padding: 1rem;
    border-radius: 0px 5px 5px 0px;
}

.sensor-div {
    padding: 1rem;
}

.slider {
    width: 100%;
    margin-bottom: 1rem;
}

.label {
    color: #ffe6e6;
}